# App debug mode (set to False in production)
DEBUG=False

# Log level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO

CSRF_TRUSTED_ORIGINS=https://tudominio.com

# Django
DJANGO_SECRET_KEY=<your_django_secret_key_here>

# PostgreSQL
DB_NAME=cajamenor
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres # O localhost si la DB está fuera, o '172.17.0.1' si estás en Linux y quieres acceder a la DB del host desde el contenedor
DB_PORT=5432
# Puerto del host al que se mapea el contenedor de postgres (evita conflicto con instancias locales)
DB_HOST_PORT=5437

# Puerto del host al que se mapea el contenedor de redis (evita conflicto con instancias locales)
REDIS_HOST_PORT=6379

# Google Gemini API credentials
GOOGLE_API_KEY=<your_gemini_api_key>

# Google Sheets API credentials (it can be obtained from the link)
SHEET_ID=1PfF4_BA...

# Google Drive Variables (it can be obtained from the main folder's link)
MAIN_FOLDER_ID=11GMk_5k...

# Special Cellphone Numbers (cellphone numbers of people that can use commands in whatsapp)
ADMIN_CELLPHONE=57...
MANTAINER_CELLPHONE=57...

# Whatsapp Business API credentials

# You set the token that you want, it must match with the webhook token that you put on META Console
VERIFY_TOKEN=<token_that_you_want_to_use_for_webhook_verification>
# It's obtained when tyou register and verify a cellphone in META Console
PHONE_NUMBER_ID=<phone_number_id_obtained_from_META_Console>
# Permanent token that you obtain in META Console for your APP in META Console
# Go here: https://developers.facebook.com/docs/whatsapp/business-management-api/get-started#1--acquire-an-access-token-using-a-system-user-or-facebook-login
TOKEN=<your_token_issued_from_META_Console>