# This file is used to set up environment variables for the application.
# Copy this file to .env and fill in the required values.

# DJANGO CONFIG
## Debug mode can be 't' or ''
DJANGO_DEBUG='t'
## Secret key for Django
DJANGO_SECRET_KEY='django-insecure-secret-key'
## Allowed hosts for Django. The value should be a comma-separated list of hostnames or IP addresses.
DJANGO_ALLOWED_HOSTS='localhost'
## Trusted origins for CSRF. The value should be a comma-separated list of URLs.
DJANGO_CSRF_TRUSTED_ORIGINS='http://localhost:81'


# Media host
MEDIA_HOST='http://localhost:8000'

# Link that arrives at email to verify the account
# This link is used to open session in the application
#
# Example:
#
DIAN_LINK='https://catalogo-vpfe.dian.gov.co/User/AuthToken?pk=123456%7C7890123456&rk=123456789&token=1234567890abcdef'


# Configuration for showing the browser when running the invoice downloading
# 't' to show the browser, 'f' to hide it
SHOW_BROWSER=''


# CONFIG GENAI
# Configuration for Google GenAI
GENAI_AUTH_URL='https://auth.unergy.io/auth/login/'
GENAI_AUTH_USERNAME='username_example'
GENAI_AUTH_PASSWORD='password_example'
GENAI_API_KEY_URL='https://originabot.uner.gy/api/genai/api_key/get_best_key/'
GENAI_TOKEN_USAGE_URL='https://originabot.uner.gy/api/genai/api_key/{api_key_id}/add_usage/'
GENAI_DEFAULT_API_KEY='your_default_api_key_here'

# ODOO CONFIG
# Configuration for Odoo connection trough XML-RPC
ODOO_HOST='https://demo.odoo.com'
ODOO_DATABASE='databasename'
ODOO_USERNAME='usuario@example.com'
ODOO_PASSWORD='contraseña'


# REDIS CONFIG
# Configuration for Celery
REDIS_HOST='localhost'
REDIS_PORT='6379'


# Docker configuration
IMAGE='factos-backend:1.0.0'


# ELASTICSEARCH CONFIG
# Configuration for ElasticSearch logging
ELASTICSEARCH_HOST='https://elastic.uner.gy/elasticsearch/'
ELASTICSEARCH_USERNAME='elastic'
ELASTICSEARCH_PASSWORD='your_password_here'
ELASTICSEARCH_INDEX='prod-backend-factos-logs'
ELASTICSEARCH_ENABLED='True'